.container-content {
    padding: 5%;
    padding-top: 5%;
}

.container-row {
    margin-top: 4%;
}

.card-container {
    transition: transform 0.2s; /* Apply a smooth transition on hover */
}

.card-container:hover {
    transform: scale(1.05); /* Enlarge the card slightly on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

/* Remove hyperlink underline */
.card-link {
    text-decoration: none;
}

/* Adjust color and style on hover */
.card-link:hover {
    color: #333; /* Change the color to your preferred link color */
    text-decoration: none;
}

.navbar {
    background-color: #f2cc8f;
}

.navbar-nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-weight: bold;
    text-align: center;
    padding: 3%;
    padding-top: 5%;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

/* Customizing carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

/* Adjusting the position of controls */
.carousel-control-prev {
    left: -40px;
    /* Adjust as needed */
}

.carousel-control-next {
    right: -40px;
    /* Adjust as needed */
}

/* Increasing the size of the controls */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    font-size: 24px;
}

.highlight {
    font-weight: bold;
}

.expired {
    color: red;
}
