/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.open {
    width: 250px;
}
.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}
.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
    text-align: right;
}
.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}
.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}
.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip {
    display: none;
}
.sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}
.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}
.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
}
.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
}
.sidebar .bx-search:hover {
    background: #fff;
    color: #11101d;
}
.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101d;
}
.sidebar li a:hover {
    background: #fff;
}
.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101d;
}
.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar.open li.profile {
    width: 250px;
}
.sidebar li.profile a:hover .links_name,
.sidebar li.profile a:hover i {
    transition: all 0.5s ease;
    color: red;
}
.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
.sidebar li.profile .job {
    font-size: 12px;
}
.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}
.home-section {
    position: relative;
    background: #e4e9f7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}
.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}
.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}
@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}
.highlight {
    font-weight: bold;
}
.container-content {
    padding: 5%;
    padding-top: 5%;
}
.top-navbar {
    background-color: #1a182c; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 10px;
    text-align: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.visualization {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.breakdown-section,
.distribution-section {
    margin-top: 15px;
}

.breakdown-section h5,
.distribution-section h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.breakdown-section ul,
.distribution-section ul {
    list-style: none;
    padding-left: 0;
}

.breakdown-section li,
.distribution-section li {
    font-size: 14px;
    margin-bottom: 5px;
}

.fa-spinner {
    transition: none;
}

.custom-table {
    padding: 0.2rem; /* Adjust the padding as needed */
    font-size: 0.8rem; /* Adjust the font size as needed */
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activity .tag {
    background-color: #64b5f6; /* Activity tag color */
}

.feedback .tag {
    background-color: #81c784; /* Feedback tag color */
}

.tag:hover {
    background-color: #ccc;
}

.custom-card {
    background-color: #E6F7FF;
    border: 2px solid #0056b3;
    border-radius: 10px;
    transition: transform 0.2s, border-color 0.2s;
}

.custom-card:hover {
    transform: scale(1.02);
    border-color: #003C7A;
}

.card-icon {
    font-size: 36px;
    color: #003C7A;
}

/* Define the custom button style */
.custom-button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 10px; /* Add margin to the bottom of the button */
    margin-right: 15px;
}

/* Add hover effect */
.custom-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Add margin to separate buttons */
.custom-button + .custom-button {
    margin-top: 10px; /* Add margin to the top of the button */
    margin-bottom: 10px; /* Add margin to the bottom of the button */
}

/* Style for the icon inside the button */
.custom-button i {
    margin-right: 8px;
}
